
<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about_img">
                    <img class="img-fluid" src="assets/img/3.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="main_title text-left">
                    <h2>Hi there,</h2>
                    <p class="about_paragraph">
                        My name is Kalum and I am passionate about using my skills and knowledge to make a
                        positive impact in society. Over time, I have constantly sought out new knowledge and
                        inspiration, which has led me to develop innovative solutions to real-world problems. My goal is
                        to help people work more efficiently and effectively while also improving their quality of life.
                        Whether it's through technology or other means, I am dedicated to finding new and creative ways
                        to make a difference. Thank you for taking the time to visit my website, and I hope that my work
                        can inspire you to create positive change in your own life and the lives of those around you.
                    </p>
                    <a class="primary_btn" href="#"><span>Download CV</span></a>
                </div>
            </div>
        </div>
    </div>
</section>