<header class="header_area">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand logo_h" routerLink="/" routerLinkActive="active"><img src="assets/img/logo.png"
						alt=""></a>
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon>menu</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item routerLink="/" routerLinkActive="active">Home</button>
					<button mat-menu-item routerLink="/blog" routerLinkActive="active">Blog</button>
					<button mat-menu-item routerLink="/about" routerLinkActive="active">About</button>
					<button mat-menu-item routerLink="/portfolio" routerLinkActive="active">Portfolio</button>
					<button mat-menu-item routerLink="/contact" routerLinkActive="active">Contact</button>
				</mat-menu>

				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav justify-content-end">
						<li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/">Home</a></li>
						<li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/blog">Blog</a>
						</li>
						<li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/about">About</a>
						</li>
						<li class="nav-item" routerLinkActive="active"><a class="nav-link"
								routerLink="/portfolio">Portfolio</a></li>
						<li class="nav-item" routerLinkActive="active"><a class="nav-link"
								routerLink="/contact">Contact</a></li>
						<!-- <li class="nav-item d-flex align-items-center"><a class="primary_btn" href="#"><span>get
									cv</span></a></li> -->

					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>