<div class="wrapper">
    <!-- your content here -->
    <footer class="footer py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a class="nav-link px-2 text-body-secondary" routerLink="/"
                                    routerLinkActive="active">Home</a></li>
                    <li class="nav-item"><a class="nav-link px-2 text-body-secondary" routerLink="/portfolio"
                                    routerLinkActive="active">Projects</a></li>
                    <li class="nav-item"><a class="nav-link px-2 text-body-secondary" routerLink="/pricing"
                                    routerLinkActive="active">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link px-2 text-body-secondary" routerLink="/faqs"
                                    routerLinkActive="active">FAQs</a></li>
                    <li class="nav-item"><a class="nav-link px-2 text-body-secondary" routerLink="/about"
                                    routerLinkActive="active">About</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2023 Company, Inc<img src="assets/img/logo.png"
                    alt=""></p>
    </footer>
</div>